<div class="accordion h-100 w-100 position-absolute" id="accordionExample">
  <% for (let i=0; i < lessons.length; i++){ %>
    <div class="accordion-item">
      <h2 class="accordion-header" id=<%= "heading" + i %>>
        <!-- aria-expanded="true" -->
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%= "#collapse" + i %> aria-controls=<%= "collapse" + i %>>
          <!-- Chapter name goes here -->
          <h6 class="flex-grow-1" style="display: flex;"><%= lessons[i].chapter %></h6>
          <h6 class="d-sm-flex justify-content-sm-end me-2" style="display: block;"><%= lessons[i].completedLessons %>/<%= lessons[i].lessons.length %></h6>
        </button>
      </h2>
      <div id=<%= "collapse" + i %> class="accordion-collapse collapse" aria-labelledby=<%= "heading" + i %> data-bs-parent="#accordionExample">
        <div class="accordion-body p-0">
          <!-- Lessons go here -->
          <% for (let j=0; j < lessons[i].lessons.length; j++){ %>
            <% const currentSource = "/video/" + lessons[i].lessons[j]._id %>
            <div class="p-3 lesson-card-holder" onclick="setSource('<%= currentSource %>')" >
              <p class="p-0 m-0">
                <% if (lessons[i].lessons[j].length == -1) { %>
                  ❌
                <% } else if (lessons[i].lessons[j].progress >= (lessons[i].lessons[j].length - 15)){ %>
                  ✔️
                <% } else if (lessons[i].lessons[j].progress > 5){ %>
                  ⬛
                <% } else { %>
                 ▶️
                <% } %>
                <%= lessons[i].lessons[j].name %>
              </p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } %>
</div>