<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/coursePageStyle.css">

<div id="editModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit course</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/courses/<%= course.id %>?_method=PUT" method="POST">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Topic" value="<%= course.topic %>" name="topic">
                <label for="floatingInput">Topic</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Course title" value="<%= course.name %>" name="name">
                <label for="floatingInput">Course name</label>
              </div>
              <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

<%- include('partials/navbar') %>

<div class="container-fluid">
  <div class="row">
      <div class="col-xl-8" style="margin-bottom: 32px;">
        <div class="video-container ratio ratio-16x9 bg-primary">
          <video id="video" controls autoplay>
            <source id="videoSource" src="" type="video/mp4">
            <track id="myTrack" label="Enligsh" kind="subtitles" srclang="en" src="" default>
          </video>
        </div>
        <div class="video-info-container py-3">
          <h3 id="videoTitle"><%= course.name %></h3>
        </div>
      </div>
      <div class="col overflow-scroll">
        <div class="accordion-holder position-relative">
          <%- include("./partials/accordion", { lessons }) %>
        </div>
      </div>
  </div>
</div>

<script src="/js/coursePage.js"></script>