<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= course.name %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid bg-secondary p-0">
    <div class="row gx-0">
      <div class="col-9">
        <!-- Video container -->
        <div class="ratio ratio-16x9">
          <!-- HTML video -->
          <video controls>
            <source src="/video/assets/courses/[ DevCourseWeb.com ] Udemy - Introduction to Node-RED/01 - Introduction to Node-RED/001 Introduction to the course.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="col-3">
        <%- include("./partials/accordion", { lessons }) %>
      </div>
    </div>
  </div>

  <!-- <% for (let chapter of lessons){ %>
    <h1><%= chapter.chapter %></h1>
    <% for (let lesson of chapter["lessons"]){ %>
      <h2>
        <% if (lesson.progress >= (lesson.length - 15)){ %>
          [DONE]
        <% } else if (lesson.progress > 5){ %>
          [<%= lesson.progress %>]
        <% } else { %>
          [START]
        <% } %>

        <%= lesson.name %>
      </h2>
    <% } %>
  <% } %> -->
  <script src="/js/coursePage.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>